@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Regualr';
  src: url('components/fonts/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'Medium';
  src: url('components/fonts/Pretendard-Medium.woff');
}

@font-face {
  font-family: 'SemiBold';
  src: url('components/fonts/Pretendard-SemiBold.woff');
}

@theme {
  --radius-xs: 0px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --shadow-xs: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
  --shadow-s: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  --shadow-m: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  --shadow-l: 0 10px 32px 0 rgba(0, 0, 0, 0.3);
  --shadow-xl: 0 16px 48px 0 rgba(0, 0, 0, 0.35);
}

@layer base {
  html {
    font-family: 'Pretendard-Regualr';
  }
}

@layer components {
  .Title-01-1_1 {
    @apply font-[SemiBold] text-[26px];
  }
  .Title-01-1_2 {
    @apply font-[Medium] text-[26px];
  }
  .Title-01-1_3 {
    @apply font-[Regular] text-[26px];
  }
  .Title-02-2_1 {
    @apply font-[SemiBold] text-[22px];
  }
  .Title-02-2_2 {
    @apply font-[Medium] text-[22px];
  }
  .Title-02-2_3 {
    @apply font-[Regular] text-[22px];
  }
  .Title-03-3_1 {
    @apply font-[SemiBold] text-[18px];
  }
  .Title-03-3_2 {
    @apply font-[Medium] text-[18px];
  }
  .Title-03-3_3 {
    @apply font-[Regular] text-[18px];
  }
  .body-01-1_1 {
    @apply font-[SemiBold] text-[16px];
  }
  .body-01-1_2 {
    @apply font-[Medium] text-[16px];
  }
  .body-02-1_1 {
    @apply font-[SemiBold] text-[14px];
  }
  .body-02-1_2 {
    @apply font-[Medium] text-[14px];
  }
  .body-02-1_3 {
    @apply font-[Regular] text-[14px];
  }
  .body-03-1_1 {
    @apply font-[SemiBold] text-[12px];
  }
  .body-03-1_2 {
    @apply font-[Medium] text-[12px];
  }
}

@utility rounded-xs {
  border-radius: var(--radius-xs);
}
@utility rounded-s {
  border-radius: var(--radius-s);
}
@utility rounded-m {
  border-radius: var(--radius-m);
}
@utility rounded-l {
  border-radius: var(--radius-l);
}
@utility rounded-xl {
  border-radius: var(--radius-xl);
}
@utility rounded-full {
  border-radius: var(--radius-full);
}

/* margin utilities */
@utility m-xs {
  margin: var(--space-xs);
}
@utility m-s {
  margin: var(--space-s);
}
@utility m-m {
  margin: var(--space-m);
}
@utility m-l {
  margin: var(--space-l);
}
@utility m-xl {
  margin: var(--space-xl);
}

/* padding utilities */
@utility p-xs {
  padding: var(--space-xs);
}
@utility p-s {
  padding: var(--space-s);
}
@utility p-m {
  padding: var(--space-m);
}
@utility p-l {
  padding: var(--space-l);
}
@utility p-xl {
  padding: var(--space-xl);
}

@utility shadow-xs {
  box-shadow: var(--shadow-xs);
}
@utility shadow-s {
  box-shadow: var(--shadow-s);
}
@utility shadow-m {
  box-shadow: var(--shadow-m);
}
@utility shadow-l {
  box-shadow: var(--shadow-l);
}
@utility shadow-xl {
  box-shadow: var(--shadow-xl);
}
